<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title layout:title-pattern="DEFAULT - $CONTENT_TITLE">Default</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/assets/css/index.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/assets/template/css/index.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/assets/skin/css/index.css}" />

</head>
<body>

<header>
    This is a header from default.html
    <p layout:fragment="custom-header">Custom header here!</p>

</header>

<section layout:fragment="content">
    <p>Content should go here!</p>
</section>

<footer>
    Footer from default
    <p layout:fragment="custom-footer">Custom footer here!</p>
</footer>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script th:src="@{/assets/js/index.js}" />

</body>
</html>